<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Featured</span></h5>
        <!-- <br> -->
        <!-- <center>
            <a href = "https://www.springer.com/us/book/9783319569512"> <img src="./assets/images/book_cover.png" alt="Book cover" width="200"> </a> 
        </center>
        <br>
        Together with Dr. Melvin Leok (UCSD) and Dr. N. Harris McClamroch, we published a research monograph, entitled <i>Global Formulations of Lagrangian and Hamiltonian Dynamics on Manifolds</i>.
        <br> -->
    </div>
</div>